*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid black;  */
}
body{
    background-image: url(../img/fondo_gradiente.png);
} 
:root{
    --color1: #ff5378;
    --color2: #ff9c4d;
    --color3: #ffe961;
    --color4: #fffbaa;
    --color5: #f8fcf3;
}
/* ---------- HOME ---------- */
/* navbar */
.navbar{
    background-color: #cbcec7;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    justify-content: center;
    margin: 5px 5px 0 5px;
    align-items: center;
    text-align: center;
    width: 120px;
    background-color: var(--color4);
    font-size: 17px;
    font-weight: bold;
}
/* slider */
.container-fluid.slider{
    background-image: url(../img/fondo_carrusel.png);
    height: 30%;
}
.slider-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-slider{
    font-family: 'Satisfy', sans-serif;
    font-size: 4rem;
    color: var(--color5);
    text-align: center;
}
.arrow{
    width: 60px;
    height: 45px;
    margin: 0 120px;
}
/* checkbox & search */

.category-checkbox{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.search{
    display: inline-flex;
    justify-content: flex-end;
    margin: 0;
    height: 50%;
    padding: 0;
}
.category-search{
    width: 100%;
    margin-top: 35px;
}
/* cards */
.card{
    border: 3px solid var(--color1);
    border-radius: 0;
}
.card-img {
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    box-shadow: -6px -3px 5px 0px rgba(0,0,0,0.75);
}
.imagenes{
    width: 100%;
    height: 13rem;
    object-fit:cover;
}
.card-body{
    padding: 5px;
}
.price-text{
    font-size: 15px;
    margin-top: 20px;
}
.card-text{
    font-size: 16px;
    height: auto;
}
.btn.btn-primary{
    border-radius: 0;
    background-color: var(--color2);
    border-color: var(--color1);
    color: black;
    font-weight: bold;
    box-shadow: -10px -8px 4px 2px rgba(0,0,0,0.75);
}
.row-footercard{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
/* Details */
.card-details{
    margin: 60px 0;
}
.imgDetails {
    width: 600px;
    height:auto;
    object-fit: cover;
    overflow: hidden;
}
.body-details{
    background-color: var(--color2);
    width: 600px;  
}
.body-details>p{
    font-size: 20px;
    text-align: left;
    margin: 10px;
    padding-bottom: 0;
}
.body-details>h2{
    margin-bottom: 20px;
}
.description-details{
    padding: 20px 15px;
}
/* footer */
.container-fluid.footer{
    background-color: var(--color3);
    border-top: 1px solid var(--color4);
}
.img-footer{
    height: 50px;
    margin: 10px;
}
.text-footer{
    text-align: end;
    font-size: 35px;
    margin: 5px;
}
/* ---------- CONTACT ---------- */
.form-contact{
    margin: 60px 0;
}
.btn.btn-primary.form{
    box-shadow: none;
    position: relative;
    left: 80%;
}
/* ----------  STATS ---------- */
table{
    margin: 60px 0;
    font-size: 13px;
    background-color: #e2e6dd;
}
tr,td{
    border: 1px solid black;
    padding: 5px;
}
.head-table{
    background-color: var(--color2);
    font-size: 20px;
    padding: 5px;
}
/* ----- EVENT - CARD EXPANSION ----- */
/* ------------ event -------------- */
.text-expand{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 80%;
    width: 40%;
    background-color: var(--color2);
}
.text-expand p{
    padding: 10px;
    font-size: 15px;
    text-align: center;
        
}
/*---------- mediaQuery ----------*/
/* ----------  ---------- */
@media only screen and (max-width:991px){
    
    .nav-item{
        padding: 0px;
        width: 35%;
    }
    .nav-link{
        padding: 2px;
        margin: 0;
        font-size: 15px;
    }
    .arrow{
        width: 50px;
        height: 45px;
        margin: 0 50px;
    }
    .category-checkbox{
        order: 0;
    }
    .search{
        order: -1;
        display: inline-block;
        width: 100%;
    }
    .card-text{
        height: 6rem;
    }
    .btn.btn-primary.form{
        box-shadow: none;
        position: relative;
        left: 70%;
    }
}
@media only screen and (max-width:767px){
    
    .arrow{
        width: 100%;
        margin: 0 5px;
    }
    .nav-item{
        width: 100%;
    }
    .category-checkbox{
        display: inline;
        width: 100%;
        text-align:left;
    }
    .row.footer{
        display: block;
        text-align: center;
    }
    .text-footer{
        text-align: center;
        font-size: 30px;
        margin: 3px;
    }
}

